<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  spring配置文件加载顺序的问题，工具类SpringContext应该写到最前面，否则没有先找到工具类，会报错  -->
    <bean id="springContext" class="com.xu.my.shop.commons.context.SpringContext"/>

    <!-- DAO -->
    <bean id="userDao" class="com.xu.my.shop.dao.Impl.UserDaoImpl"/>

    <!-- Service -->
    <bean id="userService" class="com.xu.my.shop.service.Impl.UserServiceImpl"/>
</beans>